body{
  font-family: 'Lato', sans-serif;
}
.flex{
  display: flex;
}
h1{
    font-size: 50px;
    color: #868080;
}
p{
  color: #848484;
  font-size: 18px;
  font-family: system-ui;
}
.header{
  
}
.container{
  width: 100%;
}
.header-content {
  width: 100%;
  padding: 135px 310px;
}
.header-content-img{
  width: 100%;
  
}
.header-content-img img {
  width: 65%;
  padding-top: 40px;
}
.header-content h1 {
  width: 455px;
}
.header-content p {
  width: 425px;
}
.orange-color{
color: #FB8846;
}
.button{
  text-decoration: none;
  background-image:linear-gradient(to right, #FB964B, #FE4A2F) ;
  padding: 15px 40px;
  border-radius: 50px;
  color: white;
  margin-top: 30px;
  display: inline-block;
}

.about{
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size:cover ;
}
.about-content-img{
  width: 100%;
}
.about-content-img img {
  width: 47%;
  display: inline-block;
  padding-top: 63px;
  padding-left: 364px;
}
.about-content{
  padding-top: 220px;
  padding-left: 70px;
}
.about-content p {
  width: 610px;
}