body{
  font-family: 'Lato', sans-serif;
  margin: 0;
}
.flex{
  display: flex;
}
h1{
    font-size: 50px;
    color: #868080;
}
p{
  color: #848484;
  font-size: 18px;
  font-family: system-ui;
}
.header{
  
}
.container{
  width: 100%;
}
.header-content {
  width: 100%;
  padding: 135px 310px;
}
.header-content-img{
  width: 100%;
  
}
.header-content-img img {
  width: 65%;
  padding-top: 40px;
}
.header-content h1 {
  width: 455px;
}
.header-content p {
  width: 425px;
}
.orange-color{
color: #FB8846;
}
.button{
  text-decoration: none;
  background-image:linear-gradient(to right, #FB964B, #FE4A2F) ;
  padding: 15px 40px;
  border-radius: 50px;
  color: white;
  margin-top: 30px;
  display: inline-block;
}

.about{
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size:cover ;
  
}
.about-content-img{
  width: 100%;
}
.about-content-img img {
  width: 47%;
  display: inline-block;
  padding-top: 63px;
  padding-left: 364px;
}
.about-content{
  padding-top: 220px;
  padding-left: 70px;
}
.about-content p {
  width: 610px;
}
.healthy-food {
  text-align: center;
  padding: 100px 0px;
}
.food-top p {
  display: inline-block;
  width: 600px;
  font-size: 20px;
  padding-bottom: 81px;
  margin-top: -16px;
}
.food-box-container{
  padding: 0 160px;
}
.food-box h2{
  color:rgb(114, 109, 109);
  cursor: pointer;
}
.food-box h2:hover{
  color:#FB8846;
  cursor: pointer;
}
.food-box{
  border: 1px solid #ddd;
  padding: 95px 73px;
  margin: 0 32px;
  border-radius: 10px;
  box-shadow: 0px 0px 42px -3px #ddd;
}
.food-box:hover {
  box-shadow: 0px 0px 30px -13px #333;
}

.seafood{
background-image: url(images/food/seefood.jpg);
background-repeat: no-repeat;
width: 100%;
background-position: center;
height: 600px;
}
.delicious {
  text-align: center;
  padding-top: 190px;
}
.delicious h1 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #ffa742;
  font-size: 100px;
  line-height: 0px;
  font-weight: 100;
  margin-bottom: 50px;
}
.delicious h2 {
  font-size: 50px;
  letter-spacing: 7px;
  color: rgb(114, 109, 109);
}
.recipies{

}
.recipies-top {
  text-align: center;
  padding: 0 476px;
}
.recipies h2 {
  font-size: 49px;
  font-family: cursive;
  color: #ffa742;
  padding-top: 80px;
  margin-bottom: 0;
}
.recipies p {
  margin-bottom: 100px;
}
.recipies-container {
  padding: 0 150px;
}
.blog-item {
  width: 600px;
  margin: 0 30px;
  box-shadow: 8px 10px 38px -1px #ddd;
  border-radius: 20px;
  text-align: center;
  padding-top: 32px;
  height: 590px;
}
.blog-item img {
  width: 400px;
  border-radius: 20px;
}
.blog-item h1 {
  font-size: 30px;
  text-align: left;
  padding: 0 46px;
  font-family: cursive;
  color: #ffa742;
  margin-top: 50px;
}
.blog-item p {
  text-align: left;
  padding: 0 46px;
  color: #6b6767;
  line-height: 26px;
}
.date {
  color: #4a4af3;
}
.social-share {
  margin: 150px 179px;
}
.follower-container {
  justify-content: center;
  box-shadow: 8px 10px 38px -1px #ddd;
  padding: 30px;
  border-radius: 30px;
}
.follower-box {
  padding: 10px 168px;
}
.follower-box h2 {
  margin: 0;
  padding: 0;
}
.follower-box p {
  margin: 0;
}